In [1]:
import pandas as pd
import numpy as np
import random

The Boston Housing Dataset

The Boston Housing Dataset is a derived from information collected by the U.S. Census Service concerning housing in the area of Boston MA. The following describes the dataset columns:
- CRIM - per capita crime rate by town
- ZN - proportion of residential land zoned for lots over 25,000 sq.ft.
- INDUS - proportion of non-retail business acres per town.
- CHAS - Charles River dummy variable (1 if tract bounds river; 0 otherwise)
- NOX - nitric oxides concentration (parts per 10 million)
- RM - average number of rooms per dwelling
- AGE - proportion of owner-occupied units built prior to 1940
- DIS - weighted distances to five Boston employment centres
- RAD - index of accessibility to radial highways
- TAX - full-value property-tax rate per 10,000 USD
- PTRATIO - pupil-teacher ratio by town
- B - 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
- LSTAT - %lower status of the population
- MEDV - Median value of owner-occupied homes in $1000's

1. Loading data resources/boston_housing_delimiter.csv to pandas
make sure it's properly split
check shape
check head

In [2]:
#YOUR CODE HERE

2. .head() gives all columns.  Sometimes it is useful to see only a few cols.
Select only Age and Tax and perform .head()

In [3]:
# Your code here

3. retrieve age columns greater than 95.
calculate the percentage.
show only TAX column for housing of age greater than 95 using head().

In [4]:
# Your code here

4. I want boston housing connected to highways with RAD at least 6 and where DIS is lower than average DIS.
Count how many houses are like that.

In [5]:
# Your code here

5. using df.columns, loop through and perform sum for each columns

In [6]:
# Your code here

6. using df.columns, loop through them and perform rename to lowercase

In [7]:
# Your code here

7. convert column RAD to int type

In [8]:
# Your code here

8. drop all columns with DIS greater than DIS mean.

in addition, drop CHAS column.

df.drop (remember it's not inplace!)

In [9]:
# Your code here

9. check if housing is priced higher when nearer to highways.

i.e., show mean of MEDV group by RAD

In [10]:
# Your code here

10. let's add some arbitrary zip codes to the dataset.

<code>zipcodes = [101, 102, 103, np.nan]</code>

<code>df['zip_code'] = pd.Series([random.choice(zipcodes) for i in df.index])</code>

check any missing values.

replace with majority  #mode return a series, use [0] to get the number.

check again any missing values.

In [11]:
# Your code here

11. Here is another dataset with zip codes and corresponding electricity rate, and water rate

<code>zip_dict = {'zip_code' : [101, 102, 103], 'e_rate': [5.643, 2.234, 13.42],'w_rate': [1.21, 1.23, 1.99]}</code>

<code>zip_df = pd.DataFrame.from_dict(zip_dict)</code>

<code>zip_df.head()</code>

merge them with the existing dataset, so every row has e_rate and w_rate

In [12]:
# Your code here

# Apple Stock

In [13]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

apple = pd.read_csv("../resources/appl_1980_2014.csv")
apple.head()

         Date   Open   High    Low  Close    Volume  Adj Close
0  2014-07-08  96.27  96.80  93.92  95.35  65130000      95.35
1  2014-07-07  94.14  95.99  94.10  95.97  56305400      95.97
2  2014-07-03  93.67  94.10  93.20  94.03  22891800      94.03
3  2014-07-02  93.87  94.06  93.09  93.48  28420900      93.48
4  2014-07-01  93.52  94.07  93.13  93.52  38170200      93.52

12. Transform date column to datetime type.

Then set the date column as index and filter only with year not less than 1987

In [14]:
# Your code here

13. use index.is_unique to check whether all index are unique

In [15]:
# Your code here

14. Sort the index in a ascending order (oldest date first) - use sort_index

In [16]:
# Your code here

15. I want to know how apple does on end of every month, thus get the mean value for each columns, resample at last buiness day of each month (i.e., BM)

In [17]:
# Your code here

16. BTW, how many months do we have in our data?

In [18]:
# Your code here

17. Compare this year and last year High column.

Explain what do you see. 

You may use .plot() for easy visualization

In [19]:
# Your code here

18. Resample to 3 years and run .plot()

In [20]:
# Your code here

19. Perform a rolling mean (moving average) of Close with window size of 100 days

In [21]:
# Your code here

20. let's compare them based on return rate based on the first day of IPO.

i.e., close price / close price [0], where [0] is the first close price.

To make things even more interesting, we shall look at the performance from year 2000 onwards....

In [22]:
from pandas_datareader import data

microsoft = data.DataReader('MSFT', start='1987', end='2014',
                      data_source='yahoo')

microsoft.head()


# Your code here

                High       Low      Open     Close      Volume  Adj Close
Date
1986-12-31  0.170139  0.165799  0.165799  0.167535  23356800.0   0.107193
1987-01-02  0.169271  0.164931  0.167535  0.165799  12643200.0   0.106082
1987-01-05  0.177083  0.164931  0.165799  0.175347  48499200.0   0.112191
1987-01-06  0.178819  0.174479  0.175347  0.177951  40032000.0   0.113857
1987-01-07  0.187500  0.177951  0.177951  0.187500  60998400.0   0.119967

# Euro CUP

In [23]:
euro = pd.read_csv("../resources/euro2012.csv")
euro.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

21. let's check which country get the most red cards and yellow cards

In [24]:
# Your code here

22. check which team score more than 6 goals

In [25]:
# Your code here

23. select team starting with 'C'

In [26]:
# Your code here

24. select all columns except the last 3

In [27]:
# Your code here

25. create new column luck_index which is based on Hit Woodwork.  

pd.cut to create three bins of luck index.

give labels as High, Medium, Low.

In [28]:
# Your code here

26. create new column "always_lose_goals" which has values of True or False based on clean sheets, if clean sheets is 0, then is True, otherwise False

In [29]:
# Your code here

27. let's find out whether our luck_index works.

group by luck_index, find the mean of goals and % Goals-to-shots

In [30]:
# Your code here